# Python
_pycache_/
*.py[cod]
*.pyc
# VSCode settings
.vscode/

# Migrations (optional – useful in dev only)
**/migrations/
!**/migrations/_init_.py

# Virtual environment
venv/
.env
~       

# Database files
*.sqlite3
*.db
*.sqlite
db.sqlite3

# Media and static files
/media/

_pycache_/
*.py[cod]

# IDE specific files
.idea/
*.swp
*.swo

# Log files
*.log