# Python
_pycache_/

# VSCode settings
.vscode/

# Migrations (optional – useful in dev only)
**/migrations/
!**/migrations/_init_.py

# Virtual environment
venv/
.env
~       
# Media and static files
/media/

_pycache_/
*.py[cod]